
.navbar {
    background:#293d3ed4;
    color: white;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10% 0px 10%;
  
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family:cursive;
    color: white;
    transition: color 0.3s ease;
    padding: 4px;
    border-radius: 10px;
    text-decoration: none;
}

.navbar-nav .nav-link {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.1s ease, background-color 0.1s ease; 
    margin: 0 5px;
    border-radius: 20px;
}

.navbar-nav .nav-link:hover {
    color: white;
    background-color: #d99417; 
    border-radius: 5px;
    padding: 5px 10px;
    border-radius: 20px;
}

.navbar-nav .nav-item .active {
    background-color: #d99417;
    border-radius: 5px;
    padding: 5px 10px;
    color: whitesmoke;
    border-radius: 20px;
}
